---
layout: default
title: Stories
subtitle: Here are some stories to read.
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<section class="portfolio">

	<div class="wrap">

    {{ paginator }}

    <ul>
	{% for story in site.stories %}
		{% if story.title.find('Demo') == -1 %}	
			<li><a href="{{ story.url | relative_url }}">{{ story.title }}</a></li>
		{% endif %}
    	{% endfor %}    
    </ul>

	</div>

</section>
